!function() {

  var map,
      kmlLayer,
      jsonCluster,
      jsonInfoWindow,
      jsonMarkers = [];

  function init() {
    $("input.map-toggle").bootstrapSwitch();
    $("input.map-toggle").on('switchChange.bootstrapSwitch', function(event, state) {
      if (state) {
        showJson();
        hideKml();
      } else {
        hideJson();
        showKml();
      }
    });

    var callback;
    if ($("input.map-toggle").bootstrapSwitch('state')) {
      callback = showJson;
    } else {
      callback = showKml;
    }

    initMap();
    initKml(function(){
      initJson(callback);
    });
  };

  function initMap() {
    var sanFrancisco = new google.maps.LatLng(37.7833, -122.4167);
    var mapOptions = {
      zoom: 12,
      center: sanFrancisco
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  };

  function initKml(callback) {
    kmlLayer = new google.maps.KmlLayer({ url: window.kmlUrl });
    callback();
  };

  function initJson(callback) {
    $.getJSON( window.jsonUrl, function( data ) {
      $.each( data, function( key, val ) {
        setMarker(val);
      });

      jsonInfoWindow = new (GenCustomWindow())();
      jsonCluster = new MarkerClusterer(map, []);
      callback();
    });
  };

  function setMarker(data) {
    var position = new google.maps.LatLng(data.latitude, data.longitude);
    var opts = {
      map:map,
      position:position,
      draggable:false,
      icon:{
        url:"<%= asset_path('marker-v1.png') %>",
        size:new google.maps.Size(40, 60),
        scaledSize:new google.maps.Size(20, 30),
        anchor:new google.maps.Point(10, 30)
      }
    };

    var marker = new google.maps.Marker(opts);
    jsonMarkers.push(marker);
    google.maps.event.addListener(marker, 'click', function(){
      jsonInfoWindow.setContent(createInfoWindowContent(data));
      jsonInfoWindow.open(map, marker);
    });
  };

  function createInfoWindowContent(data) {
    var content = "<div class='info-window-content'><div class='map-info-close glyphicon glyphicon-remove'></div><h4>" + data.permit_number + " (" +
                  data.permit_type + ")</h4><p><strong>Location:</strong> " + data.streetname  +
                  " between " + data.cross_street_1 + " and " + data.cross_street_2 +
                  "</p><p><strong>Agent:</strong> " + data.agent + " (<a href='tel:" +
                  data.agentphone + "'>" + formatPhone(data.agentphone) + "</a>)</p>";

    if (  data.agentphone != data.contactphone &&
          data.contactphone != null &&
          data.contact.toLowerCase() != 'refer to agent' ) {
      content += "<p><strong>Contact:</strong> <a href='tel:" + 
                 data.contactphone + "'>" + data.contact + "</a></p>";
    }

    content +=  "<p><strong>Purpose:</strong> " + data.permit_purpose + "</p></div>";
    return content;
  };

  function markerClick(content, latlng) {
    return function(e) {
      e.cancelBubble = true;
      e.returnValue = false;
      if (e.stopPropagation) {
        e.stopPropagation();
        e.preventDefault();
      }

      jsonInfoWindow.setContent(content);
      jsonInfoWindow.setPosition(latlng);
      jsonInfoWindow.open(map);
    };
  };

  function hideKml() {
    kmlLayer.setMap(null);
  };

  function showKml() {
    kmlLayer.setMap(map);
  };

  function hideJson() {
    jsonCluster.clearMarkers();
  };

  function showJson() {
    jsonCluster.addMarkers(jsonMarkers);
  };

  function formatPhone(phone) {
    text = phone.replace(/\+1(\d{3})(\d{3})(\d{4})/, "$1-$2-$3");
    return text;
  };

  $(document).ready(init);

}();
