!function() {

  var map,
      kmlLayer,
      jsonCluster,
      selectedMarker,
      jsonMarkers = [],
      permitMarkers = [],
      temporarySignMarkers = [];

  function init() {
    initMap();
    initJson(window.permit_url);
    initJson(window.temporary_sign_url);
    google.maps.event.addListenerOnce(map, 'idle', function(){
      showJson();
    });
  };

  function initMap() {
    var sanFrancisco = new google.maps.LatLng(37.7833, -122.4167);
    var mapOptions = {
      zoom: 12,
      center: sanFrancisco,
      streetViewControl: false,
      mapTypeControl: false
    };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    google.maps.event.addListener(map, 'click', closeInfoWindow );
  };

  function initJson(url) {
    $.getJSON( url, function( data ) {
      $.each( data, function( key, val ) {
        setMarker(val);
      });

      var clusterOptions = {
        minimumClusterSize: 6
      };

      jsonCluster = new MarkerClusterer(map, [], clusterOptions);
      $('.fixed-window').on('click', '.map-info-close', closeInfoWindow );
    });
  };

  function closeInfoWindow() {
    $('.fixed-window').hide();
    if (selectedMarker) {
      if (selectedMarker.type == 'Permit'){
        selectedMarker.setIcon(regularPermitMarkerIcon());
      } else {
        selectedMarker.setIcon(regularTemporarySignMarkerIcon());
      }
    }
  }

  function regularPermitMarkerIcon(){
    return {
      url:"<%= asset_path('marker-hammer-black.png') %>",
      size:new google.maps.Size(40, 60),
      scaledSize:new google.maps.Size(20, 30),
      anchor:new google.maps.Point(10, 30)
    };
  };

  function selectedPermitMarkerIcon(){
    return {
      url:"<%= asset_path('marker-hammer-green.png') %>",
      size:new google.maps.Size(40, 60),
      scaledSize:new google.maps.Size(20, 30),
      anchor:new google.maps.Point(10, 30)
    };
  };


  function regularTemporarySignMarkerIcon(){
    return {
      url:"<%= asset_path('marker-box-black.png') %>",
      size:new google.maps.Size(40, 60),
      scaledSize:new google.maps.Size(20, 30),
      anchor:new google.maps.Point(10, 30)
    };
  };

  function selectedTemporarySignMarkerIcon(){
    return {
      url:"<%= asset_path('marker-box-green.png') %>",
      size:new google.maps.Size(40, 60),
      scaledSize:new google.maps.Size(20, 30),
      anchor:new google.maps.Point(10, 30)
    };
  };

  function setMarker(data) {
    var position = new google.maps.LatLng(data.latitude, data.longitude),
        opts = {
          map:map,
          position:position,
          draggable:false,
          icon: data.type=='Permit' ? regularPermitMarkerIcon() : regularTemporarySignMarkerIcon()
        };

    var marker = new google.maps.Marker(opts);
        marker.type = data.type;
    jsonMarkers.push(marker);

    google.maps.event.addListener(marker, 'click', (function () {
      return function () {
        jQuery( '.fixed-window' ).empty();

        if (selectedMarker && selectedMarker.type == 'Permit'){
          selectedMarker.setIcon(regularPermitMarkerIcon());
        } else if (selectedMarker) {
          selectedMarker.setIcon(regularTemporarySignMarkerIcon());
        }

        if ((selectedMarker && selectedMarker != marker) || !selectedMarker) {
          jQuery( '.fixed-window' ).show();

          if (data.type == 'Permit'){
            jQuery( '.fixed-window' ).append(createPermitInfoWindowContent(data));
            marker.setIcon(selectedPermitMarkerIcon());
          } else {
            jQuery( '.fixed-window' ).append(createTemporarySignInfoWindowContent(data));
            marker.setIcon(selectedTemporarySignMarkerIcon());
          }

          selectedMarker = marker;
        } else {
          jQuery( '.fixed-window' ).hide();
          selectedMarker = null;
        }
      }
    })());

  };

  function createTemporarySignInfoWindowContent(data) {
    var content = "<div class='info-window-content'><div class='map-info-close glyphicon glyphicon-remove'></div><h4>" + data.request_details + 
                  "</h4><p><strong>Location:</strong> " + data.address  + "</p>" + 
                  "<p><strong>Type:</strong> " + data.request_type + "</p>";

    return content;
  };

  function createPermitInfoWindowContent(data) {
    var content = "<div class='info-window-content'><div class='map-info-close glyphicon glyphicon-remove'></div><h4>" + data.permit_number + " (" +
                  data.permit_type + ")</h4><p><strong>Location:</strong> " + data.streetname  +
                  " between " + data.cross_street_1 + " and " + data.cross_street_2 +
                  "</p><p><strong>Agent:</strong> " + data.agent + " (<a href='tel:" +
                  data.agentphone + "'>" + formatPhone(data.agentphone) + "</a>)</p>";

    if (  data.agentphone != data.contactphone &&
          data.contactphone != null &&
          data.contact.toLowerCase() != 'refer to agent' ) {
      content += "<p><strong>Contact:</strong> <a href='tel:" + 
                 data.contactphone + "'>" + data.contact + "</a></p>";
    }

    content +=  "<p><strong>Purpose:</strong> " + data.permit_purpose + "</p></div>";
    return content;
  };

  function hideKml() {
    kmlLayer.setMap(null);
  };

  function showKml() {
    kmlLayer.setMap(map);
  };

  function hideJson() {
    jsonCluster.clearMarkers();
  };

  function showJson() {
    //jsonCluster.addMarkers(permitMarkers);
    //jsonCluster.addMarkers(temporarySignMarkers);
    jsonCluster.addMarkers(jsonMarkers);
  };

  function formatPhone(phone) {
    text = phone.replace(/\+1(\d{3})(\d{3})(\d{4})/, "$1-$2-$3");
    return text;
  };

  $(document).ready(function(){
    if ($('body').hasClass('index')){
      init();
    }
  });

}();
