<div class="map-wrapper">
  <div class="file-window">
    <div class="col-lg-12">
      <div class="input-group">
        <input id="txtUrl" type="text" class="form-control" placeholder="KML file url...">
        <span class="input-group-btn">
          <button id="loadUrl" class="btn btn-default" type="button">Load</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div>

  <div id="map-canvas">
  </div>
</div>

<% content_for :footer do %>

<% end %>
