<div class="map-wrapper">
  <div class="fixed-window">
  </div>
  <div id="map-canvas">
  </div>
</div>

<% content_for :footer do %>

  <%= javascript_tag do %>
    window.permit_url = '<%= @permit_url %>'
    window.temporary_sign_url = '<%= @temporary_sign_url %>'
  <% end %>

<% end %>
