<div class="map-wrapper">
  <div id="map-canvas">
  </div>
</div>

<% content_for :footer do %>

  <%= javascript_tag do %>
    //window.kmlUrl= "http://freeparkingfor.me/permits.kml";
    window.jsonUrl= "<%= root_url %>permits.json";
  <% end %>

<% end %>
