body, html {
  height: 100%;
}

.map-wrapper, #map-canvas {
  height: 100%;
}

.map-info-window{
  background: #323335;
  color: #FFF;
  border-radius:4px;
  box-shadow:8px 8px 16px #222;
  min-width:150px;
  max-width:500px;
  max-height:300px;
  padding:5px 20px 10px;
  overflow:hidden;
  position:absolute;
  width:90%;
}

.map-info-window .map-info-close, .fixed-window .map-info-close{
  float:right;
  cursor:pointer;
  margin-right:-5px;
  margin-left:5px;
}

.map-info-window h5, .fixed-window h5{
  font-weight:bold;
}

.map-info-window p, .fixed-window p{
  margin: 0;
  color: #FFF;
  font-size: 11px;
}

.file-window, .fixed-window {
  z-index:1;
  background: #323335;
  color: #FFF;
  border-radius:4px;
  box-shadow:8px 8px 16px #222;
  min-width:150px;
  max-width:500px;
  max-height:300px;
  padding:5px 20px 10px;
  position: fixed;
  width: 90%;
  margin: 5% 5% 0 5%;
};

.fixed-window {
  display: none;
}

@media (min-width: 768px) {
  .file-window, .fixed-window {
    margin: 0;
    top: 30px;
    right: 30px;
  }
}
